{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="/public/css/markdown-github.css">
<style>
  .panel .panel-heading .action i {
    margin-right: 10px;
  }
</style>
{{/block}}

{{block 'body'}}
<section class="container">
  <div class="row">
    <div class="col-md-9">
      <article class="markdown-body">
      <h1 id="_1"><a name="user-content-_1" href="#_1" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>{{ blocks }}</h1>
      <blockquote>
        <p>{{ motif }}</p>
      </blockquote>
      <h3 id="_3"><a name="user-content-_3" href="#_3" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>{{ title }}</h3>
      <p>{{ txt }}</p>
      <pre><code class="javascript">{{ code }}
      </code></pre>
    </article>
      {{ each comment_all}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <span style="color: purple">{{ $value.nickname }}</span> commented on
          <span  style="color: purple">{{ ($value.created_time).toString().substr(0,($value.created_time).toString().indexOf('G')) }}</span>
          <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
        </div>
        <div class="panel-body">
          {{ $value.text }}
        </div>
      </div>
      {{ /each }}
      <hr>
      <form action="" method="get" id="comment_form">
        <div class="form-group">
          <label for="exampleInputPassword1">添加回复</label>
          <textarea class="form-control" name="comment" id="" cols="10" rows="10" placeholder="期待您的精彩评论"></textarea>
        </div>
        <button type="submit" class="btn btn-success">回复</button>
      </form>
    </div>
  </div>
</section>
{{/block}}
{{block 'script'}}
<script src="/node_modules/jquery/dist/jquery.js"></script>
  <script>
    $('#comment_form').on('submit', function (e) {
      e.preventDefault()
      var formData = $(this).serialize()
//      console.log('我是'+formData)
      $.ajax({
        url: '/topic/show',
        type: 'get',
        data: formData,
        dataType: 'json',
        success: function (data) {
          var err_code = data.err_code
          if (err_code === 0) {
              alert('提交成功！感谢您的评论');
              // 服务端重定向针对异步请求无效
              window.location.href = '/'
          }
        }
      })
    })
  </script>
  {{/block}}